/*palette
	white: #f6f5f5;
	grey: #e9e4e6;
	lightteal: #3bb4c1;
	teal: #048998;
 */

body {
    font-size: 16px;
    font-family: "Arial", "sans-serif";
}

#container, #container1 {
    margin: 1rem auto;
    max-width: 1500px;
    width: 80%;
    background-color: #f6f5f5;
    padding: 1rem;
}

h1,
h2 {
    text-transform: uppercase;
}

h1 {
	color: #048998;
    text-align: center;
}

h2 {
	color: #3bb4c1;
}


.image p {
    padding-left: 0.2rem;
}

.image {
    object-fit: cover;
}

/* Laptop and PC*/
@media only screen and (min-width:800px) {

	    #title, #title1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #gallery, #gallery-animals {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        width: 100%;
    }

    .image {
        width: 33%;
        height: 100%;
        padding: 0.1rem;
    }

    .image img {
        max-width: 100%;
        height: auto;
    }

    .image p {
		font-size: 80%;
    }

}



/* Tablet */

@media only screen and (max-width:800px) {

    #gallery, #gallery-animals {
        display: flex;
        flex-direction: column;
    }

    .image {
        width: 100%;
        padding: 0.1rem;
    }

    .image img {
        max-width: 100%;
        height: auto;
    }

    .image p {
        font-size: 75%;
    }
}

/* Mobile 

@media only screen and (max-width:480px) {

    .image p {
        font-size: 50%;
    }

    h1 {
        font-size: 1rem;
    }

    h2 {
        font-size: 50%;
    }

}

*/