$primary-color: #233040;
$secondary-color: #FEBD69;
$font-color1: #C1C2C3;
$font-color2: #FFFFFF;
$font-color3: #C45500;
$font-stack: Amazon Ember;

body {
    font-size: 16px;
    font-family: $font-stack, sans-serif;
}

#nav-belt {
    background-color: $primary-color;
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: left;
    justify-content: space-between;
}

#nav-main {
    background-color: $primary-color;
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: left;
    justify-content: space-between;
}

.nav-left, .nav-right {
    color: $font-color2;
    font-size: 2em;
}

.nav-fill {
    color: $font-color1;
    font-size: 2em;
}

.nav-fill li {
    display: inline; /* show list next to eachother */
    list-style-type: none; /* no bulletpoints */
    padding: 0.5em; /* space between list elements */
}

#nav-bar{
    width: 100%;
    height: 45px;
}

select {
    height: 45px;
}

#submit{
    height: 45px;
}

#searchbar {
    width: 50%;
    height: 30px;
    padding: 6px 10px 6px 0px;
    margin: 0.5em 0em;
}

#container {
    display: flex;
    width: 100%;
}


/* SIDEBAR */

#sidebar {
    width: 20%;
    border-right: 0.1rem solid $primary-color;
    padding-right: 1rem;
}

.title {
    padding-left: 1rem;
    font-weight: bold;
}

.section {
	padding: 0.5rem;
}

.section ul {
    list-style: none;
}

.star li {
	color: $secondary-color;
}

/* MAIN CONTENT */
#main {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: 1rem;
    padding: 1rem;

}

.item a {
    text-decoration: none;
    padding: 0.5rem;
}


.item {
    width: 30%;
    padding: 0.3rem;
    margin: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item img {
    width: 60%;
    display: block;
    height: auto;
}