$primary-color: #233040;
$secondary-color: #FEBD69;
$font-color1: #C1C2C3;
$font-color2: #FFFFFF;
$font-color3: #C45500;
$font-stack: Amazon Ember;

body {
    font-size: 16px;
    font-family: $font-stack, sans-serif;
}

header {
    background-color: $primary-color;
}

#container {
    display: flex;
    width: 100%;
}


/* SIDEBAR */

#sidebar {
    width: 20%;
    border-right: 0.1rem solid $primary-color;
    padding-right: 1rem;
}

.title {
    padding-left: 1rem;
    font-weight: bold;
}

.section {
	padding: 0.5rem;
}

.section ul {
    list-style: none;
}

.star li {
	color: $secondary-color;
}

/* MAIN CONTENT */
#main {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: 1rem;
    padding: 1rem;

}

.item a {
    text-decoration: none;
    padding: 0.5rem;
}


.item {
    width: 30%;
    padding: 0.3rem;
    margin: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item img {
    width: 60%;
    display: block;
    height: auto;
}